.register {
    --login-form-bg: var(--midnight-blue-color-20);
    background: var(--panel-bg);
  }
  
  .register > div {
    min-width: 500px;
    background: var(--login-form-bg);
  }
  
  .register .form-check-label{
    color: var(--font-color-secondary) !important;
    font-size: var(--font-size-xss);
  }