.friends-list{
    --friends-list-bg: var(--ocean-blue-color-20);

    color: var(--font-color-secondary);
    background: var(--friends-list-bg);
    overflow-y: scroll;
    
}

.friends-list div:hover{
    cursor: default;                        /* to avoid a text cursor by hovering */
    color: var(--body-font-color);
}

.friends-list h6{
    max-height: fit-content;
}