.search-bar {
  --friends-list-bg: var(--midnight-blue-color-20);
  --top-left-corner-radius: var(--border-radius) 0 0 0;

  height: var(--bar-height);
  background: var(--friends-list-bg);
  border-bottom: 1px solid var(--border-color-layout);
  border-radius: var(--top-left-corner-radius);
}
