.settings-panel{
    --breakline-color: var(--midnight-blue-color-50);
    width: var(--settings-page-width);
    min-width: var(--settings-page-width);
}

.settings-panel .breakline{
    border: 1px solid var(--breakline-color);
}