.user-bar{
    --user-bar-bg: var(--ocean-blue-color);
    /* --user-bar-height: 44px; */

    background: var(--user-bar-bg);       /* height: var(--user-bar-height); */
    font-size: var(--font-size-xs)
}
