.register {
    --login-form-bg: var(--midnight-blue-color-20);
    --login-form-height: 500px;
    background: var(--panel-bg);
  }
  
  .register:not(h1){
      color: var(--font-color-secondary);
  }
  .register > div {
    background: var(--login-form-bg);
    height: var(--login-form-height);
  }
  