:root{
    @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

    --font-family: 'Exo 2', sans-serif;

    --font-size-sm:                 14px;
    --font-size-rg:                 16px;
    --font-size-lg:                 18px;

    --font-weight-light:            300;
    --font-weight-regular:          400;
    --font-weight-medium:           500;
    --font-weight-semi-bold:        600;

}
