:root{
    --spacer: 4px;
    --line-height: 1.6;
    --border-radius: 5px;
    --header-height: 20px;
    --bar-height: 50px;
    --page-padding-top: var(--header-height);
    --panel-border-radius: 10px;
}
