.filterbar{
    background: var(--panel-bg);
    height: var(--bar-height);
}

.filterBar i{
    color: var(--font-color-secondary) !important;
}

.navbar{
    height: 50px;
}

.separator{
    width: 1px;
    height: 25px;
    border: 1px solid var(--border-color-layout);
}