.user-panel{
    --user-panel-bg: var(--midnight-blue-color);
    --user-panel-header-height: 60px;
    --user-panel-header-bg: var(--grey-color-10);
}

#user-panel-header{
    height: var(--user-panel-header-height);
}

#user-panel-header-left, #user-panel-header-right{
    background: var(--user-panel-header-bg);
    width: 50%;
}


#user-panel-header-right{
    border-radius: 0 var(--panel-border-radius) 0 0;
}

#user-panel-header-left{
    border-radius: var(--panel-border-radius) 0 0 0;
}

.user-panel div.d-flex.p-3{
    height: 65px;
    background: var(--user-panel-bg);
    border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius);
}

.user-avatar-positioning{
    transform: translateY(-50px);
}