.user-panel{
    --user-panel-bg: var(--midnight-blue-color);
    --user-panel-header-height: 60px;
    --user-panel-header-bg: var(--grey-color-10);
}

.user-panel #user-panel-header{
    height: var(--user-panel-header-height);
    background: var(--user-panel-header-bg);
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0; 
}

.user-panel div.d-flex.p-3{
    height: 70px;
    background: var(--user-panel-bg);
    border-radius: 0 0 var(--panel-border-radius) var(--panel-border-radius);
}

.user-avatar-positioning{
    transform: translateY(-50px);
}