.user-avatar{
    --statusColor: var(--green-color-20);
    --statusSize: 12px;

    font-size: 1.688rem;
}

.user-avatar .active-user{
    background: var(--statusColor);
    width: var(--statusSize);
    height: var(--statusSize);
    border-radius: 50%;
    position: relative;
    top: 5%;
    right: 20%;
}