.login {
  --login-form-bg: var(--midnight-blue-color-20);
  --login-form-height: 500px;
  background: var(--panel-bg);
}

.login h1{
  color: var(--body-font-color);
}
.login{
    color: var(--font-color-secondary);
}
.login > div {
  background: var(--login-form-bg);
  height: var(--login-form-height);
}
