* {
  box-sizing: border-box;
}

html, body, #root, .App{
  height: 100%;
  margin: 0;
}

body{
  font-family: var(--font-family) !important;
  line-height: var(--line-height);
}

.App{
  color: var(--body-font-color);
}

h6{
  font-size: var(--font-size-xs) !important;
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold) !important;
}
