* {
  box-sizing: border-box;
}

html, body, #root, .App{
  height: 100%;
  margin: 0;
}

body{
  color: var(--body-font-color) !important;
  font-family: var(--font-family) !important;
  line-height: var(--line-height);
}
h1, .h1{
  font-size: var(--font-size-xl) !important;
  font-weight: var(--font-weight-bold) !important;
}
h4, .h4{
  font-size: var(--font-size-lg) !important;
  font-weight: var(--font-weight-bold) !important;
}
h5, .h5{
  font-size: var(--font-size-sm) !important;
  font-weight: var(--font-weight-bold) !important;
}
h6, .h6{
  font-size: var(--font-size-xs) !important;
  text-transform: uppercase;
  font-weight: var(--font-weight-semi-bold) !important;
}
