.settings-navbar{
    --settings-navbar-bg: var(--midnight-blue-color-20);
    --settings-navbar-width: 150px;
    --settings-heading-color: var(--grey-color-10);
    --settings-font-color: var(--grey-color-40) !important;
    --settings-navbar-separator-color: var(--midnight-blue-color-50);
    background: var(--settings-navbar-bg);
    color: var(--settings-font-color)

}   

.settings-navbar h6{
    color: var(--settings-heading-color);
}

.settings-navbar div:first-child{
    margin-left: auto;
    width: var(--settings-navbar-width);
    min-width: var(--settings-navbar-width);
}

.settings-navbar .list-tab{
    font-size: var(--font-size-sm) !important;
}

.settings-navbar-separator{
    border-bottom: 1px solid var(--settings-navbar-separator-color);
}

.settings-navbar-separator:last-child{
    color: var(--danger-color);
}
.settings-navbar-separator:last-child li:hover{
    color: var(--danger-color) !important;
}