.profile-color {
    --color-panel-width: 75px;
    --color-panel-height: 50px;
    --color-panel-default-bg: var(--grey-color-10);
    --color-panel-customized-bg: var(--grey-color-10);
    --check-color: var(--midnight-blue-color-10);
    --check-size: 30px;
}

.profile-color{
    font-size: var(--font-size-xs);
    color: var(--font-color-secondary);
}

.color-panel-default, .color-panel-customized, #color-picker{
    height: var(--color-panel-height);
    width: var(--color-panel-width);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.color-panel-default{
    background: var(--color-panel-default-bg);
}

.profile-color .bi-check{
    color: var(--check-color);
    font-size: var(--check-size);
}

#custom-check{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#color-picker{
    opacity: 0;
}