.icon-button{
    --icon-color:           var(--grey-color-50);
    --icon-color-hover:     var(--body-font-color);
    --icon-bg:              var(--hover-bg);
    color: var(--icon-color) !important;
}

.icon-hover-bg:hover {
    background: var(--icon-bg) !important;
    color: var(--icon-color-hover) !important;
}

.icon-hover:hover{
    color: var(--icon-color-hover) !important;
}
