.app-header {
  --header-font-color: var(--grey-color-70);

  width: 100%;
  height: var(--header-height);
  padding: var(--spacer);
  color: var(--header-font-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  position: absolute;
  top: 0;
  left: 0;
}

.logoutButton{
    display: inline-block;
    margin-left: auton;
}