.display-image{
    --image-container-bg: var(--midnight-blue-color-20);
    --image-container-size: 300px;
    --footer-bg: var(--midnight-blue-color-40);
    --showcase-border-color: var(--grey-color-50);
}

.display-image input[type=range]{
    width: 70%;
}
.display-image #range-size{
    width: 100%;
}
.display-image i:first-child{
    font-size: 1rem;
}
.display-image #image-container{
    position: relative;
    height: var(--image-container-size);
    background: var(--image-container-bg);
}
.display-image #avatar-showcase{
    border: 5px solid var(--showcase-border-color);
    height: var(--image-container-size);
    width: var(--image-container-size);
    border-radius: 50%;
    position: relative;
}
.display-image #avatar-showcase::before{
    content: "";
    display: block;
    border: 200px solid black;
    border-radius: 50%;
    height: calc( var(--image-container-size) + 400px ); /* 400 px to match the size for the hole combined with the border width */
    width: calc( var(--image-container-size) + 400px );
    padding-bottom: 50%;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.display-image i:nth-child(3){
    font-size: 1.5rem;
}
.display-image .modal-footer{
    background: var(--footer-bg);
}